<a href="https://colab.research.google.com/github/azuredataengineeringwithus-maker/AzureDE/blob/azure_data_engieering/Python_DataEngineering_Batch_March_2025.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [ ]:
print("hello")

hello

In [ ]:
# a = 10.5
# a ="Uma"
a = '10'

In [ ]:
a = 100

In [ ]:
s = str(a)

In [ ]:
print(s, type(s))

100 <class 'str'>

In [ ]:
b = int(a)
c = float(a)

In [ ]:
print(type(c))

<class 'float'>

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
#Datatypes:

# integer == numeric    10 , -11, 0
# float = decimal value 10.56 ,
# string == "Sachin", "d"   -- whatever u are writing inside ur ''
# list === [1,5,8,9,'fgg']
#tupple ==== (1,5,9,'k')
# Set === {"f", "gh"}
# dict == {"name": "DE", "BATch": 2025 }


a = 10

In [ ]:
a = 10
b = 120.5

In [ ]:
f = float(a)
print(f)

10.0

In [ ]:
i = int(b)
print(i)

120

In [ ]:
s = str(a)
print(s)

10

In [ ]:
s = "Sachin"
print(s)

Sachin

In [ ]:
l = list(a)
print(l)

TypeError: 'int' object is not iterable

In [ ]:
print(type(a),type(b))

<class 'int'> <class 'float'>

In [ ]:
# variable :
# must starts with letter, _ but not with digit
# it not be a keyword
# use some meaning full names

In [ ]:
a = "25.15"

In [ ]:
# collectional objects :

In [ ]:
#string :
# ordered collection
# indexing -- +ve , -ve
# immutable ( once created u r not allowed to modify it )
# whatever inside "" is string

s = "fgjkjkk"
s[-1] = "m"
print(s[-1])

k

In [ ]:
#list :
#have []
#it can contain diff datatype elements
# supports indexing
# it is an ordered collection
# mutable ( u can able to change the elements)

In [ ]:
l = [89,"Ankush",12]    #pi -- 0,1,2       ni -- -3,-2,-1

In [ ]:
l[1]= "Gayatri"

In [ ]:
print(l)

[89, 'Gayatri', 12]

In [ ]:
# indexing :

#
#positive indexing :
      #bydefault index will start from 0
      # index from left side of iterable object

# negative indexing
     # starts with -1
     # index from right side

12

In [ ]:
#Tuple:
#have ()
#it can contain diff datatype elements
# supports indexing
# it is an ordered collection
# immutable ( u can't able to change the elements)

In [ ]:
t = (89,"Ankush",12)

t[0]
t[-1]
t[-2]

'Ankush'

In [ ]:
t[1]= "Gayatri"

TypeError: 'tuple' object does not support item assignment

In [ ]:
# remove duplicates from list s
s = [12,34,89, 58, 89,12]
s = list(set(s))

print(s)

[89, 34, 12, 58]

In [ ]:
# Tuple:
# ()
#it can contain diff datatype elements

In [ ]:
l = [12,58,56]
print(type(l))

c = (12,58,56)
print(type(c))

s = {12,58,56}
print(type(s))

d = {"name": "Sachin"}
print(type(d))

<class 'list'>
<class 'tuple'>
<class 'set'>
<class 'dict'>

In [ ]:
d = {"name": "Sachin","role": "mentor"}

print(d["role"])

mentor

In [ ]:
print(type(a))

<class 'str'>

In [ ]:
s = {45,45,78,89,62,45}

In [ ]:
print(s)

{89, 45, 62, 78}

**DAY 2:**

In [ ]:
#slicing:
# slicing / slecting specific part of the list
# listname[ startindex(included): end_index(excluded) : stepsize]  : by default [0 : len(list):1]
# slicing is just to select perticular part of list/string
# it wont modify the existing list unlike reverse()
l  = [45,89,45,63,56]

In [ ]:
l[2]

45

In [ ]:
l[-3]

45

In [ ]:
l[0:3]

[45, 89, 45]

In [ ]:
l[0:1]

[45]

In [ ]:
# stepsize:
l[0:5:2]

[45, 45, 56]

In [ ]:
l[0:5:3]

[45, 63]

In [ ]:
#everything from start till last 30th element:

l = [i for i in range(100)]

In [ ]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19, 20, 21, 22, 23, 24, 25, 26, 27, 28, 29, 30, 31, 32, 33, 34, 35, 36, 37, 38, 39, 40, 41, 42, 43, 44, 45, 46, 47, 48, 49, 50, 51, 52, 53, 54, 55, 56, 57, 58, 59, 60, 61, 62, 63, 64, 65, 66, 67, 68, 69, 70, 71, 72, 73, 74, 75, 76, 77, 78, 79, 80, 81, 82, 83, 84, 85, 86, 87, 88, 89, 90, 91, 92, 93, 94, 95, 96, 97, 98, 99]

In [ ]:
l[0:-30:4]

[0, 4, 8, 12, 16, 20, 24, 28, 32, 36, 40, 44, 48, 52, 56, 60, 64, 68]

In [ ]:
# len() function:
# to calculate length of the list

len(l)

5

In [ ]:
# nested lists :

nested_list = [0, 4, 8, 12, 16, 20, 24, 28, ["python","class",["Kiran", "Thorat"]]]

In [ ]:
len(nested_list)

9

In [ ]:
nested_list[-1]

['python', 'class', ['Kiran', 'Thorat']]

In [ ]:
nested_list[-1][0]

'python'

In [ ]:
nested_list[-1][-1]

['Kiran', 'Thorat']

In [ ]:
nested_list[-1][-1][0]

'Kiran'

In [ ]:
n = [ 1,5,9,{14,56,89}]

In [ ]:
#fetch the 56 value

n[-1][1]

TypeError: 'set' object is not subscriptable

In [ ]:
list(n[-1])[0]

56

In [ ]:
s = {58,56,89,25,12}

In [ ]:
m = list(s)

[56, 89, 58, 12, 25]

In [ ]:
# item assignment:

nested_list = [0, 4, 8, 12, 16, 20, 24, 28, ["python","class",["Kiran", "Thorat"]]]

In [ ]:
nested_list[1] = "Sachin"

In [ ]:
nested_list

[0, 'Sachin', 8, 12, 16, 20, 24, 28, ['python', 'class', ['Kiran', 'Thorat']]]

In [ ]:

nested_tuple = (0, 4, 8, 12, 16, 20, 24, 28, ["python","class",["Kiran", "Thorat"]])

In [ ]:
nested_tuple

(0, 4, 8, 12, 16, 20, 24, 28, ['python', 'Python class', ['Kiran', 'Thorat']])

In [ ]:
nested_tuple[1] = "Sachin"

TypeError: 'tuple' object does not support item assignment

In [ ]:
nested_tuple[-1][1] = "Python class"

# as we already know that we are not able to modify the tuple by replacing element of tuple ex nested_tuple[1]=  "SACHIN"
# but in above code technically I am editing/working inside the element of tuple ,
# so technically I am not modifying the tuple

In [ ]:
l = [i for i in range(56) if i%2 == 0]

In [ ]:
print(l)

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54]

In [ ]:
# replace ABCD with ur name
hw_list = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54,"SACHIN TIWARI",{"class": "Python", "student": ["ABCD","Gayatri"]}]

In [ ]:
d = {"class": "Python", "student": "gfdhfg"}

d["class"] = "New_python"

In [ ]:
d

{'class': 'New_python', 'student': 'gfdhfg'}

**DAY 3:**

In [ ]:
#slicing :

In [ ]:
# replace ABCD with ur name
hw_list = [0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54,"SACHIN TIWARI",{"class": "Python", "student": ["ABCD","Gayatri"]}]

In [ ]:
hw_list[:3]   # if we are not specifing the start point it will take index 0 by default

[0, 2, 4]

In [ ]:
print(hw_list[:])   # if we are not specifing the start point and endpoint  it will take index 0 and len(list) resp by default, by default step size is  1

[0, 2, 4, 6, 8, 10, 12, 14, 16, 18, 20, 22, 24, 26, 28, 30, 32, 34, 36, 38, 40, 42, 44, 46, 48, 50, 52, 54, 'SACHIN TIWARI', {'class': 'Python', 'student': ['ABCD', 'Gayatri']}]

In [ ]:
hw_list[-1:-6:-1]

[{'class': 'Python', 'student': ['ABCD', 'Gayatri']},
 'SACHIN TIWARI',
 54,
 52,
 50]

In [ ]:
l = [1,5,9,8]

**# reverse the list**

In [ ]:
l[-1:-5:-1]

[8, 9, 5, 1]

In [ ]:
l[::-1]

[8, 9, 5, 1]

In [ ]:
l[-1:-(len(l)+1):-1]

[8, 9, 5, 1]

In [ ]:
l.reverse()

In [ ]:
print(l)

[8, 9, 5, 1]

In [ ]:
#inserting element into list :

# u can add any datatype using below methods :

new_list = [1,5,8,9]

#append :
#to add object (any datatype object) in the end of the list
# not mandatorily iterable object

new_list.append("New_element")

new_list.append(3)

# item_assignment:
new_list[1] = 1000

#insert :
#to add any object (any datatype object) at a perticular position
# not mandatorily iterable object


new_list.insert(1, "new_element")

In [ ]:
#append():
l = [1,5,9,8]

l.append(25)

In [ ]:
l.append("it will add this at eol")

In [ ]:
l

[1, 5, 9, 8, 25, 'it will add this at eol']

In [ ]:
# insert():
l.insert(1,"Data_engg_with_us")

In [ ]:
l

[1,
 'Data_engg_with_us',
 'Data_engg_with_us',
 5,
 9,
 8,
 25,
 'it will add this at eol']

In [ ]:
# item assignment:
l[2]= "2025"

In [ ]:
l

[1, 'Data_engg_with_us', '2025', 5, 9, 8, 25, 'it will add this at eol']

In [ ]:
l.append(set([i for i in range(10)]))

In [ ]:
l

[1,
 'Data_engg_with_us',
 '2025',
 5,
 9,
 8,
 25,
 'it will add this at eol',
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9}]

In [ ]:
l.append({'l':"gh"})

In [ ]:
l

[1,
 'Data_engg_with_us',
 '2025',
 5,
 9,
 8,
 25,
 'it will add this at eol',
 [0, 1, 2, 3, 4, 5, 6, 7, 8, 9],
 {0, 1, 2, 3, 4, 5, 6, 7, 8, 9},
 {'l': 'gh'}]

In [ ]:
l1 = ["a","b","c","d"]
l2 = [1,2,3,4]

# ["a","b","c","d",1,2,3,4]

In [ ]:
l1.append(l2)

In [ ]:
l1

['a', 'b', 'c', 'd', [1, 2, 3, 4]]

In [ ]:
# extend():

# adds element from l2 into l1
# following seq add
# it will always expected to pass iterable object in place l2

l1.extend(l2)

In [ ]:
l1

['a', 'b', 'c', 'd', 1, 2, 3, 4]

In [ ]:
l2.extend(l1)

In [ ]:
l2

[1, 2, 3, 4, 'a', 'b', 'c', 'd']

In [ ]:
l1.extend(0)    # we can only pass iterable object in place of l2

TypeError: 'int' object is not iterable

In [ ]:
# removing elemnts from list :
l = ["ada", 1,25,12.3,1]

In [ ]:
# remove:
# when you want to remove perticular element
# if element is duplicated it will remove first occurance
# if the elemnt which u wanna remove is not there it will through an error
l.remove(1)

In [ ]:
l

['ada', 25, 12.3, 1]

In [ ]:
l.remove("DATA")

ValueError: list.remove(x): x not in list

In [ ]:
#delete

# when you want to delete element sitting at particular index

del l[0]

In [ ]:
l

[25, 12.3, 1]

In [ ]:
# pop

# it will remove the last element

l = ["ada", 1,25,12.3,1]

In [ ]:
l.pop()

1

In [ ]:
l

['ada', 1, 25, 12.3]

In [ ]:
l.pop(2)

25

In [ ]:
l

['ada', 1, 12.3]

In [ ]:
l.reverse()

In [ ]:
l

[12.3, 1, 'ada']

In [ ]:
l[::-1]

['ada', 1, 12.3]

In [ ]:
l

['ada', 1, 25, 12.3, 1]

In [ ]:
# sort :
# inbuilt fun to sort the list
# work only whenever your all elements have same datatype(numeric datatypes or string)

In [ ]:
l = ['ada', 1, 25, 12.3, 1]
l.sort()

TypeError: '<' not supported between instances of 'int' and 'str'

In [ ]:
l1 = [1, 25, 12.3, 1]

l1.sort()

In [ ]:
l1

[1, 1, 12.3, 25]

In [ ]:
l = ["asd","dft","asdfg","dftg","k","l"]

In [ ]:
l.sort()
print(l)

['asd', 'asdfg', 'dft', 'dftg', 'k', 'l']

In [ ]:
l2 = ["dfd","dfd","dfd","%","@","4","6"]

In [ ]:
l2.sort()

In [ ]:
l2

['%', '4', '6', '@', 'dfd', 'dfd', 'dfd']

In [ ]:
# sorted function :
# it is more like the map/filter
# allows you to create custom sort function
# u can use lambda function to define sorting condn

In [ ]:
l = ["sd","fgh","s","gfkf"]

In [ ]:
new = sorted(l, key = lambda x : len(x))

In [ ]:
new

['s', 'sd', 'fgh', 'gfkf']

In [ ]:
l.clear()

In [ ]:
l

[]

In [ ]:
s1 = {12,58,96}

In [ ]:
s1

{12, 58, 96}

In [ ]:
l1.extend(s1)

In [ ]:
l1

['a', 'b', 'c', 'd', 96, 58, 12]

In [ ]:
d1 = {"asd": 1254, "fgh": 589}

In [ ]:
l1.extend(d1)    # it will only add keys

In [ ]:
l1

['a', 'b', 'c', 'd', 96, 58, 12, 'asd', 'fgh']

In [ ]:
for i in d1:
  print(i)

asd
fgh

In [ ]:
for i in d1:
  l1.append(i)

In [ ]:
l1

['a', 'b', 'c', 'd', 96, 58, 12, 'asd', 'fgh', 'asd', 'fgh']

In [ ]:
l1.extend("Jitu")

In [ ]:
l1.append("Jitu")

In [ ]:
l1

['a',
 'b',
 'c',
 'd',
 96,
 58,
 12,
 'asd',
 'fgh',
 'asd',
 'fgh',
 'J',
 'i',
 't',
 'u',
 'Jitu']

In [ ]:
#  string :
# imutable

# slicing in case of

s = "dfgdsjgsf kjfhegfe rfkerh fierhfi rhhr  "

s1 = "                   "

s2 = "{ dsfsgfu }, {'ghgfd' : 54566}"

In [ ]:
len(s1)

19

In [ ]:
type(s2)

str

In [ ]:
s[1]= "fg"

TypeError: 'str' object does not support item assignment

In [ ]:
s

'dfgdsjgsf kjfhegfe rfkerh fierhfi rhhr  '

In [ ]:
s[:6]

'dfgdsj'

In [ ]:
s[::-1]

'  rhhr ifhreif hrekfr efgehfjk fsgjsdgfd'

In [ ]:
s3 = s1 + s2

In [ ]:
s3

"                   { dsfsgfu }, {'ghgfd' : 54566}"

In [ ]:
strip(s1)
trim(s1)

NameError: name 'strip' is not defined

In [ ]:
name = " Gauri "  --- "Gauri"

In [ ]:
DAY 3 :

In [ ]:
#shallow copy :

l1 = [1,3,4,5,6,78,90]

# if I change/modify anything inside the original list that changes will immidietly reflected in copied list

# Syntax:
copied_list = original_list[:]
l2 = l1
import copy
copied_list = copy.copy(original_list)






#Deep Copy :

l6 = [12,85,96,12]

new_list_d = copy.deepcopy(l6)

# if u dont want to update ur list with resp to original list then u can use deepcopy

In [ ]:
l5 = [12,56,89,12,36]
import copy
new_list =  copy.copy(l1)

In [ ]:
l5.append("ghdhfdj")

In [ ]:
print(new_list)

[1, 3, 4, 5, 6, 78, 90, 20, 20]

In [ ]:
l3 = l1[:]

In [ ]:
print(l2)

[1, 3, 4, 5, 6, 78, 90]

In [ ]:
l2.append("new_element")

In [ ]:
print(l1)

[1, 3, 4, 5, 6, 78, 90]

In [ ]:
l1.append(20)

In [ ]:
print(l2)

[1, 3, 4, 5, 6, 78, 90]

In [ ]:
print(l3)

[1, 3, 4, 5, 6, 78, 90, 20]

In [ ]:
# item assignment is also the one of the way to do shallow copy of list
l4 = [1,2,3,4,5]

l5 = l4

l4.append("New_element")

l5.append(156789675)

print(l4,l5)

[1, 2, 3, 4, 5, 'New_element', 156789675] [1, 2, 3, 4, 5, 'New_element', 156789675]

In [ ]:
# built in functions in case of list:

l = [12,45,89,42]

print(max(l))
print(min(l))
print(sum(l))
print(len(l))

89
12
188
4

In [ ]:
# sort function:

l.sort()

In [ ]:
l

[12, 42, 45, 89]

In [ ]:
# split():

# use to split the data across a element
# u can only use this in case of string
# u can only split about the element which is present inside ur string
# output datatype of this function is list
# element about which string splited is not included

#s.split("char about which u wanna split")

S = "we are Data Engineers"

#output = ["we", "are", "Data", "Engineers"]

In [ ]:
s = "we are Data Engineers"

l = s.split("%")

In [ ]:
print(l)

['we', 'are', 'Data', 'Engineers']

In [ ]:
s1 = "we are Data Engineers"

l1 = s1.split("%")

In [ ]:
l1

['we are Data Engineers']

In [ ]:
students = "Ankush, Gayatri, Jitu, Kiran"

In [ ]:
l_student = students.split(",")

In [ ]:
l_student

['Ankush', ' Gayatri', ' Jitu', ' Kiran']

In [ ]:
print(type(l_student))

<class 'list'>

In [ ]:
l1_student = students.split(", ")

In [ ]:
l1_student

['Ankush', 'Gayatri', 'Jitu', 'Kiran']

In [ ]:

ss = "agxsdwtduveruet fgf yfdflkagfdgd hfjhfh fgfdguewryeteuioefbvguacnabvrtycnhx"
l2 = ss.split("y")

In [ ]:
print(l2)

['agxsdwtduveruet fgf ', 'fdflkagfdgd hfjhfh fgfdguewr', 'eteuioefbvguacnabvrt', 'cnhx']

In [ ]:
# join()

j = "y".join(l2)
print(j)

agxsdwtduveruet fgf yfdflkagfdgd hfjhfh fgfdguewryeteuioefbvguacnabvrtycnhx

In [ ]:
['Ankush', 'Gayatri', 'Jitu', 'Kiran']

In [ ]:
s = "Ankush Gayatri Jitu Kiran"

l1 = s.split(" ")

In [ ]:
l1

['Ankush', 'Gayatri', 'Jitu', 'Kiran']

In [ ]:
new_s = " ".join(l1)
print(new_s)

Ankush Gayatri Jitu Kiran

In [ ]:
print(type(new_s))   #return type of join function is str

<class 'str'>

In [ ]:
n1 = "".join(l1)
n1

'AnkushGayatriJituKiran'

In [ ]:
m = n1.split("")      # in case of split separator is mandotory
m

ValueError: empty separator

In [ ]:
name = "Shubham"

#list_of_elements = ["s","h","u","b","h","a","m"]

list_m = list(name)

In [ ]:
list_m

['S', 'h', 'u', 'b', 'h', 'a', 'm']

In [ ]:
s = "dsdshgd1125861567854$%^"

# s.isnumeric()   -----

In [ ]:
s = " dhgsd , fhd  85j iuhd  9ydd k hhd shd lkj ljdh fsded h odiewduew  "



s = " sachin and jitu and Ankush and shubham and ajay and vaibhav"

output = ["Sachin","Jitu","Ankush","Shubham","Ajay","Vaibhav"]


l = ["Gauri", "Gayatri","Kiran","Monika","Priyanka"]

m = " Gauri and Gayatri .................."

In [ ]:
# DAY 5 :

In [ ]:
#lower()
#to convert string into lower case

# string_name.lower()
string1.lower()
#"good Good GOOD Good GoOD"   --> "good "

#upper()
string1.upper()


#s.capitalize()

# to convert it into capitalize (i.e. first letter is in upper rest in lower)

In [ ]:
s = "ASCGHKDH"

m = s.lower()

n = m.upper()

print(m,n)

ascghkdh ASCGHKDH

In [ ]:
s = "good Good GOOD Good GoOD"

l =s.split(" ")

In [ ]:
l

['good', 'Good', 'GOOD', 'Good', 'GoOD']

In [ ]:
# count function is used to count the occurance of specific elemnt inside a list
l.count("good")

1

In [ ]:
s = "good Good GOOD Good GoOD"

l =s.lower().split(" ")

In [ ]:
l

['good', 'good', 'good', 'good', 'good']

In [ ]:
l.count("good")

5

In [ ]:
bill = "vadapo 40  chai 20 samosa 30"


# conditional statements :

#s.startswith("w")     -- like operator

# s.endswith("s")


# n.isnumeric() ---- if string has numbers
# s.isalpha()   --- if string has chars

# s.isalnum()
# n.isalnum()
# m.isalnum()

# n.isdecimal()
# n.isdigit()
# s.ischar()
#isupper():
#islower()

In [ ]:
s = "Data Engineers"
s.startswith("D")
s.endswith("s")

True

In [ ]:
s = "546544535"

s.isnumeric()

s1 = "vhvufdhvvi"
s1.isalpha()

s2 = "fsdjfh5452"
s2.isalnum()

True

In [ ]:
s.isalnum()     # either alphabates or numbers

True

In [ ]:
len(s)

9

In [ ]:
# replace :

# use to replace specific part/element inside a string
# string is imutable co
# replace function wont able to modify existing string but it will create new string.
s = "we are Engineers"

m = s.replace("are Engineers", "are become Data Engineers")

'we are become Data Engineers'

In [ ]:
s

'we are Engineers'

In [ ]:
# EY interview question

#calculate total bill amount:

bill = "vadapo 40  chai 20 samosa 30"

l_bill = bill.split(" ")

In [ ]:
l_bill

['vadapo', '40', '', 'chai', '20', 'samosa', '30']

In [ ]:
bill_amount = 0       # accumulator variable
for i in l_bill:
  if i.isnumeric():
    bill_amount = bill_amount + int(i)
    print("after interation")
    print(bill_amount)

after interation
40
after interation
60
after interation
90

In [ ]:
# EY interview question

#calculate total bill amount:

bill = "vadapo 40  chai 20 samosa 30"

l_bill = bill.split(" ")

bill_amount = 0       # accumulator variable
for i in l_bill:
  if i.isnumeric():
    bill_amount = bill_amount + int(i)

print(bill_amount)

90

In [ ]:
# way 2 :

bill = "vadapo 40  chai 20 samosa 30"

l_bill = bill.split(" ")

l2 = []     # list to strore numeric values
for i in l_bill:
  if i.isnumeric():
    l2.append(int(i))

print(l2)

total_bill_amount = sum(l2)
print("total_bill_amount :",total_bill_amount)

[40, 20, 30]
total_bill_amount : 90

In [ ]:
#DAY - 06 :

# TOPICS :

# For Loop
# if else statements

In [ ]:
#for :

#1 for i in range(start,end,stepsize):
 # end is a compulsory parameter , start and stepsize are optional (start = 0 , stepsize = 1)

#2 to fetch elements from string
 for i in string1:

#3 to fetch from list
for element in l1:

In [ ]:
for i in range():    # end point is compulsory parameter
  print(i)

for i range(6):    # end point 6 , bydefault startpoint = 0 , stepsize it will take 1

for i in range(1,6)    # end point 6 ,  startpoint = 1 , stepsize it will take 1

for i in range(1,6,2)    # end point 6 ,  startpoint = 1 , stepsize = 2

TypeError: range expected at least 1 argument, got 0

In [ ]:
# iterate over iterable object

s = [12,56,89,25,36,42]

for i in s:
  print(i)

12
56
89
25
36
42

In [ ]:
S = "JHGDSFJSF "

for i in S:
  print(i)

J
H
G
D
S
F
J
S
F

In [ ]:
d = {"fg": "dgfds"}

for j in d:
  print(j)

fg

In [ ]:
s = [12,56,89,25,36,42]
for i in range(6):
  print(s[i])

12
56
89
25
36
42

In [ ]:
# find even index elements
s = [12,56,89,25,36,42]
for i in range(1,6,2):
  print(s[i])

56
25
42

In [ ]:
for i in range(1,6):
  print(i)

1
2
3
4
5

In [ ]:
l = [(1,3),("f","k"),(25,89)]

for i in l:
  print(i[0],i[1])

1 3
f k
25 89

In [ ]:
for i,j in l:
  print(i,j)

1 3
f k
25 89

In [ ]:
l = [(1,3),("f","k"),(25,89)]

for i in l:
print(i[0],i[1])


# indetation error

IndentationError: expected an indented block after 'for' statement on line 3 (<ipython-input-16-7e1809c85483>, line 4)

In [ ]:
# Conditional statements:

if condition:

elif condition2:

elif condn 3:

else:

In [ ]:
# practice question :

bill = "vadapo 40  chai 20 samosa 30"

#Q1 : find out the count of numeric words

#Q2 : want to find ocuurance of word students inside a string

s = " STUDENTS studEnts students stuDents studenTs dgdf dfgdg dfg fhg dad ryuhgffgs tjfdds wtdzg jdsg "

# Q3: find occurance of each word inside a string


Q4 : input = [ i for i in range(101)]

#A) odd elemnts odd_list =
b) even elements  even_list =

In [ ]:
s = [ i for i in range(111)]

In [ ]:
s

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110]

In [ ]:
s = " STUDENTS studEnts students stuDents studenTs dgdf dfgdg dfg fhg dad ryuhgffgs tjfdds wtdzg jdsg "

s1 = s.lower()
# Q3: find occurance of each word inside a string

l = s1.split(" ")

#{student : 5 , dgdf : }
d = {}
for i in l:                           # " " , student
  d[i]= l.count(i)

In [ ]:
print(d)

{'': 2, 'students': 5, 'dgdf': 1, 'dfgdg': 1, 'dfg': 1, 'fhg': 1, 'dad': 1, 'ryuhgffgs': 1, 'tjfdds': 1, 'wtdzg': 1, 'jdsg': 1}

In [ ]:
# solve above without using count inbuilt function

In [ ]:
{i: s.lower().split().count(i) for i in s.lower().split()}

{'students': 5,
 'dgdf': 1,
 'dfgdg': 1,
 'dfg': 1,
 'fhg': 1,
 'dad': 1,
 'ryuhgffgs': 1,
 'tjfdds': 1,
 'wtdzg': 1,
 'jdsg': 1}

In [ ]:
# if else

l = [ "a","b","c","1","3","5","2","8"]
if the element is char add to char list
if elemnt is numeric --- odd -- oddlist  even -- evenlist

In [ ]:
l = [ "a","b","c","1","3","5","2","8"]

char_list = []
even_list = []
odd_list = []
for i in l:                             # "a","b","c"      1
  if i.isalpha():                       # True,True , true , false
    char_list.append(i)
  else:
    if int(i)%2 == 0 :                             #false
      even_list.append(int(i))
    else:
      odd_list.append(int(i))

In [ ]:
print(char_list )
print(even_list)
print(odd_list)

['a', 'b', 'c']
[2, 8]
[1, 3, 5]

In [ ]:
l = [ "a","b","c","1","3","5","2","8","%","&","$"]

# add piece of code to append special characters to symbols_list

In [ ]:
l = [ "Samrudh", "Samadhan", "Shubham", "Bhaskar", "Bobby", "Ankush ", "jitu "]

s_list = []
b_list = []
a_list = []
j_list = []
for element in l:
  if element.startswith("S"):
    s_list.append(element)
  elif element.startswith("B"):
    b_list.append(element)
  elif element.startswith("A"):
    a_list.append(element)
  else:
    j_list.append(element)

In [ ]:
print(s_list )
print(b_list)
print(a_list)
print(j_list)

['Samrudh', 'Samadhan', 'Shubham']
['Bhaskar', 'Bobby']
['Ankush ']
['jitu ']

In [ ]:
# break and continue and pass

# break :
# it will directly exit the loop and stop the further iterations
# it will break the loop

# continue:
# it will skip the code part written below the continue block
# i.e. it is simply says continue to next iteration

#pass:

In [ ]:
for i in range(10):    # 0,
  if i == 3:
    break
  print(i)

0
1
2

In [ ]:
for i in range(10):
  if i == 4:
    continue
  print("heyyyy  ", i)
  print("okky ",i)

heyyyy   0
okky  0
heyyyy   1
okky  1
heyyyy   2
okky  2
heyyyy   3
okky  3
heyyyy   5
okky  5
heyyyy   6
okky  6
heyyyy   7
okky  7
heyyyy   8
okky  8
heyyyy   9
okky  9

In [ ]:
for i in range(10):    # 0,
  if i == 3:
    pass
  print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# while condition :
# initilisation is must in case of while unlike for
# need to write increment logic
# it is condirtional iterator

In [ ]:
i = 0
while i < 10 :
  print(i)
  i += 1                      # i = i + 1



# for i in range(10):
     #print(i)

0
1
2
3
4
5
6
7
8
9

In [ ]:
# never ending loop

i = 0
while i >= 0:
  print(i)
  i += 1

In [ ]:
l = [ 0 ,........, 100]

if 0 to 18 ---- STUDENT
 18 TO 22 ---- BACHELOR
 22 TO 60 -- WP
 > 60  ----- RETIRED




 IF AGE < 18 :           100 times
    print(STUDENT)
elif 23 < age> 18 :       100 - 18  --- 82 times
    print (bachelor)

elif                       100 - 18 - 15 ------ 68



IF AGE < 18 :           100 times
    print(STUDENT)

if 23 < age> 18 :       100 times
    print (bachelor)

In [ ]:
l = ["asd", "dfg","dfgg","asdf"]

for word in l:
  if len(word)> 3:
    print("in if block  ", word)
  elif word.startswith("a"):
    print("in elief block ", word)
  else:
    print("in else block",word)

in elief block  asd
in else block dfg
in if block   dfgg
in if block   asdf

In [ ]:
l = ["asd", "dfg","dfgg","asdf"]

for word in l:
  if len(word)> 3:            # no of iterations 4
    print("in if block  ", word)
  if word.startswith("a"):    # no of iterations 4
    print("in elief block ", word)

in elief block  asd
in if block   dfgg
in if block   asdf
in elief block  asdf

In [ ]:
for loop , while loop , if else

In [ ]:
s = "asdf djfdgf fjgsdf  ghfhu hvfdh uuh yiui ooh kh t h j k"

# que add the data according to there length

l = s.split(" ")
print(l)

l1 = []
l2 = []
l3 = []
l4 = []
for word in l:
  if len(word) == 1:
    l1.append(word)
  elif len(word) == 2:
    l2.append(word)
  elif len(word) == 3:
    l3.append(word)
  else:
    l4.append(word)

['asdf', 'djfdgf', 'fjgsdf', '', 'ghfhu', 'hvfdh', 'uuh', 'yiui', 'ooh', 'kh', 't', 'h', 'j', 'k']

In [ ]:
print(l1)
print(l2)
print(l3)
print(l4)

['t', 'h', 'j', 'k']
['kh']
['uuh', 'ooh']
['asdf', 'djfdgf', 'fjgsdf', '', 'ghfhu', 'hvfdh', 'yiui']

In [ ]:
l= []
for i in range(20):
  if i%2 == 0 :
    l.append(i)

In [ ]:
print(l)

[0, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11, 12, 13, 14, 15, 16, 17, 18, 19]

In [ ]:
# list compre.

# it is used to reduce no of lines in code
# it makes code more readable
# output of this is must a list

m = [ i for i in range(20) if i%2 == 0]

In [ ]:
type(m)

list

In [ ]:
# set compre.

m = { i for i in range(20) if i%2 == 0}

In [ ]:
# Dict compre

#sample = {"key": "value"}

s = "asd ghd dfdhf hdh yuify asd ghd"
# count occurance of each word inside a string

m = s.split(" ")

print(m)

d = {}
for word in m:
  d[word] = m.count(word)

# solve above ques without using inbuilt count function:



# Dict compreh

d1 = {i:m.count(i) for i in m}

['asd', 'ghd', 'dfdhf', 'hdh', 'yuify', 'asd', 'ghd']

In [ ]:
print(d)

{'asd': 2, 'ghd': 2, 'dfdhf': 1, 'hdh': 1, 'yuify': 1}

In [ ]:
s = "asd ghd dfdhf hdh yuify asd ghd"
# count occurance of each word inside a string

m = s.split(" ")

# Dict compreh

d1 = {i:m.count(i) for i in m}

In [ ]:
d1

{'asd': 2, 'ghd': 2, 'dfdhf': 1, 'hdh': 1, 'yuify': 1}

In [ ]:
# without using inbuilt fuctions
s = "asd ghd dfdhf hdh yuify asd ghd"
l = s.split(" ")  # ['asd', 'ghd', 'dfdhf', 'hdh', 'yuify', 'asd', 'ghd']

d2 = {}
for i in l:     #asd
  if i not in d2:      # true
    d2[i] = 1            #{"asd": 1 }
  else:
    d2[i] += 1

In [ ]:
d2

{'asd': 2, 'ghd': 2, 'dfdhf': 1, 'hdh': 1, 'yuify': 1}

In [ ]:
# add the elements having same length into same list
l = [125,554,89,45,23,85,69,15,48,1,0,0,0,5,12245,78995,12145,12236]

# remove duplicates from list other than using set
m = [1,1,1,2,2,2,3]

In [ ]:
m = [1,1,1,2,2,2,3]
l2 = []

for i in m:
  if i not in l2:
    l2.append(i)

In [ ]:
l2

[1, 2, 3]

In [ ]:
# functions :
def check_lengths(s):
  return len(s)

# defination:
# def fun name (variables):
    # body
    # return dshfd

# calling the function:
#fun_name(variables)


# no of parameters used while defining the function
# same no of parameters that function expecting while calling

In [ ]:
s1 = "jhgdsjgdsjdsg "
print(check_lengths(s1))

14

In [ ]:
# write a function to return sum of two numbers

def add(a,b):
  return a+b

In [ ]:
add(1,2)

3

In [ ]:
# function.py --- all the functions , mainfile = "" , etl == extract transform load

In [ ]:
# module 1 :
# 10 ques
# procedure
# functions
# list compren
# dict compr

In [ ]:
# encrypt the pii value
adhar_number = 123456789123
e_adhar_no = "*********123"

In [ ]:


def encrypt_number(adhar_no):
  if len(str(adhar_no)) == 12:
    return "*"*9 + str(adhar_no)[-3:]
  else:
    return "invalid input aadhar numbr must have 12 digits  "

In [ ]:
encrypt_number(adhar_number)

'*********123'

In [ ]:
no = 12345568458286525868
encrypt_number(no)

'invalid input aadhar numbr must have 12 digits  '

In [ ]:
# calculator

# add
# sub

def add(a,b):
  return a+b

def sub(a,b):
  return a-b

def calculator(a,b):
  sum = add(a,b)
  s = sub(a,b)

  return sum,s

In [ ]:
calculator(13,2,1)

TypeError: calculator() takes 2 positional arguments but 3 were given

In [ ]:
calculator(13)

TypeError: calculator() missing 1 required positional argument: 'b'

In [ ]:
calculator(13,2)

(15, 11)

In [ ]:
def demo():

  return "yes "

  return "no"

In [ ]:
demo()

'yes '

In [ ]:
# lambda :

# def funname():
#   body
#   return

# def add(a,b):
#   return a+b

# lambda functions
f = lambda a,b : a + b

#Syntax:
#f = lambda variables : expression

# advantages:
# u can write any function within a line
# u can have any no of parameters

# disadvantage:
# you can have only expression

In [ ]:
f(3,2)

5

In [ ]:
f = lambda a , b ,c : a*a + b*b + c*c

In [ ]:
f(1,4,5)

42

In [ ]:
# map
# filter

#more specifically for list

# map
# if you want to perform some operation / function on each element of list



#Syntax:
# m = map(function , list)



#example:
l = [1,2,3,4,5]

m = map(lambda x : x*x , l)

print(list(m))

print(type(m))

[1, 4, 9, 16, 25]
<class 'map'>

In [ ]:
def increment(a):
  return a+2

m = map( increment, l )

In [ ]:
# def add(a,b):
#   return a+b

# l = [(1,2),(1,3)]

# m = map(add ,*l)

In [ ]:
print(list(m))

[2, 5]

In [ ]:
print(list(m))

[3, 4, 5, 6, 7]

In [ ]:
l = [1,2,3,4,5]

l2 = []
for i in l:
  l2.append(i*i)

l3 = [ i*i for i in l]

print(l2)
print(l3)

[1, 4, 9, 16, 25]
[1, 4, 9, 16, 25]

In [ ]:
#filter :

# like map function it will apply the condition on each element of list
# it will consider the elemnts for which condition is true
# return type is class filter
# f = filter(condition , L)

l = [1,2,3,4,5,6]

#1
l1 = []
for i in l:
  if i%2 == 0:
    l2.append(i)


#2
l2 = [ i for i in l if i%2 == 0]


#3

# f = filter(condition , L)

f = filter(lambda x : x%2 == 0 , l)

print(type(f))

print(list(f))


# def filter(condition , l):
#   f = []
#   for i in l:
#      if condition:
#       f.append(i)

<class 'filter'>
[2, 4, 6]

In [ ]:
l = [1,2,3,4,5,6]

f = filter(lambda x : x%2 == 0 , l)

print(list(f))

m = map(lambda x : x%2 == 0 , l)
print("its_map", list(m))

[2, 4, 6]
its_map [False, True, False, True, False, True]

In [ ]:
l1 = [1,2,3]
l2 = [4,5,6]

output = [(1,4),(2,5),(3,6)]

o = []
for i in range(len(l1)):
  # print("l1 element: ",l1[i], "l2 element: ",l2[i])
  # print((l1[i],l2[i]))
  o.append((l1[i],l2[i]))

print(o)

l1 element:  1 l2 element:  4
(1, 4)
l1 element:  2 l2 element:  5
(2, 5)
l1 element:  3 l2 element:  6
(3, 6)
[(1, 4), (2, 5), (3, 6)]

In [ ]:
# zip
# it will combine respective index elements into a tupple


output = zip(l1,l2)

In [ ]:
print(list(output))

[(1, 4), (2, 5), (3, 6)]

In [ ]:
# input function
#format string

In [ ]:
#input

#to get input from user
# bydefault it will store the input in str datatype
# you can add a msg u wanna show on screen inside input function

In [ ]:
a = input()

12

In [ ]:
a =
 (input("message u want to show on screen "))

message u want to show on screen 12

In [ ]:
a = int(a)

In [ ]:
type(a)

int

In [ ]:
#format string :
# f string
# to make your string dynamic

name = input("enter your name ")

print("User name is ", name )

print(f"user name is {name} {name}")      # f string

print("user name is {}".format(name))

enter your name Jitu
User name is  Jitu
user name is Jitu Jitu
user name is Jitu

In [ ]:
d = {"asd": 256,"ghh": 25 }

In [ ]:
d.keys()

dict_keys(['asd', 'ghh'])

In [ ]:
d.values()

dict_values([256, 25])

In [ ]:
type(list(d.keys()))

list

In [ ]:
d["ghhf"]

KeyError: 'ghhf'

In [ ]:
# mostly used to know that key is present inside the dict or not
# if it present want the value if not then want 0
d.get("ghhg",0)

0

In [ ]:
print("ghh" in d.keys())

print("ghh" in d)

True
True

In [ ]:
print("ghmh" in d.keys())

print("ghmh" in d)

False
False

In [ ]:
# Day 12

# text
# config -- parameters , variable , access level info , json

In [ ]:
# diff modes of reading file :
"r" : read mode
"w" : write mode
"x" : append

In [ ]:
fv = open("/content/new_text2.txt",'w')

In [ ]:
fv.close()

In [ ]:
f ="/content/new_text.txt"
fv = open(f,'r')

In [ ]:
type(fv)
# this is text wrapper u can say file variable

_io.TextIOWrapper

In [ ]:
print(fv)

<_io.TextIOWrapper name='/content/new_text.txt' mode='r' encoding='utf-8'>

In [ ]:
# read ()
# all the content of file
# data type of content is string

In [ ]:
fv.read()

'import json\nfile = "/content/data.json"\n# Load JSON from a file\nwith open(file, \'r\') as file:\n    data = json.load(file)'

In [ ]:
# readlines()
# it will read ur file line by line
# datatype is list

In [ ]:
fv.readlines()

['import json\n',
 'file = "/content/data.json"\n',
 '# Load JSON from a file\n',
 "with open(file, 'r') as file:\n",
 '    data = json.load(file)']

In [ ]:
type(fv.readlines())

list

In [ ]:
list_of_lines = fv.readlines()

In [ ]:
list_of_lines

['import json\n',
 'file = "/content/data.json"\n',
 '# Load JSON from a file\n',
 "with open(file, 'r') as file:\n",
 '    data = json.load(file)']

In [ ]:
# fetch 4 th line

list_of_lines[3]

"with open(file, 'r') as file:\n"

In [ ]:
#calculate length of first word
line4 = list_of_lines[3]

m = line4.split(" ")[0]

In [ ]:
len(m)

4

In [ ]:
import json
file = "/content/data.json"
# Load JSON from a file
with open(file, 'r') as file:
    data = json.load(file)

    # dumps

In [ ]:
file = open("/content/data.json", 'r')

In [ ]:
f = json.load(file)

In [ ]:
print(f)

{'id': 1, 'name': 'Jane Doe', 'email': 'jane.doe@example.com', 'age': 28, 'isMember': True, 'country': 'USA'}

In [ ]:
print(data)

{'id': 1, 'name': 'Jane Doe', 'email': 'jane.doe@example.com', 'age': 28, 'isMember': True, 'country': 'USA'}

In [ ]:
fv = open("/content/demo_write.txt",'w')

In [ ]:
fv.write("fhdgfjdfjdgfsdfsd fjf sdjgfad fjf")

30

In [ ]:
fv.close()

In [ ]:
fv = open("/content/demo_write.txt",'r')

In [ ]:
fv.read()[:11]

'fhdgfjdfjdg'

In [ ]:
data["email"]

'jane.doe@example.com'

In [ ]:
import json

# Load JSON from a file
with open('data.json', 'r') as file:
    data = json.load(file)

# Fetch variables
id = data['id']
name = data['name']
email = data['email']
age = data['age']
is_member = data['isMember']
country = data['country']

# Print them
print(f"ID: {id}")
print(f"Name: {name}")
print(f"Email: {email}")
print(f"Age: {age}")
print(f"Member: {is_member}")
print(f"Country: {country}")

In [ ]:
assignment 1 :

create one file name datafile
enter some data around 20 lines

open the file for read operation

one more file json : count of each word inside ur datafile

In [ ]:
try

except

SyntaxError: expected ':' (<ipython-input-1-e2483a97fde0>, line 1)

In [ ]:
# TypeError :
a = 6
b = "sdf"

c = a + b

TypeError: unsupported operand type(s) for +: 'int' and 'str'

In [ ]:
# ValueError

a = int(input("enter a number : "))
print(a)

enter a number : fgfjg

ValueError: invalid literal for int() with base 10: 'fgfjg'

In [ ]:
# IndexError
m = [1,5,9,8,6]

print(m[6])

IndexError: list index out of range

In [ ]:
# KeyError

data = {
    "name": "Alice",
    "age": 25,
    "is_employee": False,
    "skills": ["Java", "Spark", "Machine Learning"]
}

In [ ]:
data["named"]

KeyError: 'named'

In [ ]:
#indentation error


a = 25
  b = "ok"

IndentationError: unexpected indent (<ipython-input-12-0e66a5c696cc>, line 5)

In [ ]:
#syntax error

print("hello"

SyntaxError: incomplete input (<ipython-input-13-a1dd5631ed42>, line 3)

In [ ]:
# ZeroDivisionError
a = 25
b = 0

c = a/b

ZeroDivisionError: division by zero

In [ ]:
# NameError

a = "hjfgfgu"

print(h)

NameError: name 'h' is not defined

In [ ]:
a = int(input("enter a number"))
b = int(input("enter a number"))

c = a/b

print(c)

In [ ]:
try :

  # it is used to catch the error
  # it contains function for which we want to catch the error
except:
  # lines to display the error
  # another code to handle the error



#if you want to handle more than one errors separately u can add multiple except blocks

except errortype:

except ZeroDivisionError:
except valueError:


finally:

  # it will execute irespective of error occured or not


# Note : we can add multiple except blocks for a try block depending on error occurs :

In [ ]:
a = int(input("enter a number"))
b = int(input("enter a number"))

c = a/b

print(c)

enter a number12
enter a number0

ZeroDivisionError: division by zero

In [ ]:
a = int(input("enter a number"))
b = int(input("enter a number"))

c = a/b

print(c)

enter a numberdfjdf

ValueError: invalid literal for int() with base 10: 'dfjdf'

In [ ]:
# a = int(input("enter a number"))
# b = int(input("enter a number"))



try:
  # it will contain ur function
  a = int(input("enter a number"))
  b = int(input("enter a number"))
  c = a/b
  print(c)
except ZeroDivisionError:
  print("you cannot divide by zero")
  b = int(input("enter a non zero number"))
  c = a/b
  print(c)
except ValueError:
  print("valueError block")
  a =int(input("please enter only number1"))
  b = int(input("please enter only number2"))
  c = a/b
  print(c)

except:
  print("default except block")

finally:
  print("finally block")



print("hello ")
print("execution ")

enter a numbervgvh
valueError block
please enter only number112
please enter only number225
0.48
finally block
hello
execution

In [ ]:
OOPS :
procedure :
function :
opps:

In [ ]:
procedure :   line by line
functions :

In [ ]:
def student_info():
  name = input()
  hobbies = input(hobbies)

In [ ]:
students : 60 students


s1 = "dataengineer"
clgs1 = "dhjjh"

In [ ]:
# class is blueprint of object
# properties and methods

#object
#methods
#properties

In [ ]:
class Student:
    def __init__(self, name, age):                  # Constructor
        self.name = name
        self.age = age
        self.clg = "GCOERA"
        self.cls = "BE"                  # we can have no of variables or properties

    def display_info(self):                                   # we can have multiple methods
        print(f"Name: {self.name}")
        print("sdhvfkjjkf")
        print(f"Age: {self.age}")

In [ ]:
s = Student("Jitu", 26)

In [ ]:
s.name

'Jitu'

In [ ]:
s.age

26

In [ ]:
type(s)

__main__.Student

In [ ]:
m = Student("Vaibhav",25)

In [ ]:
l = [1,2,3,4,5,6]

In [ ]:
print(type(l))

<class 'list'>

In [ ]:
s.display_info()

Name: Jitu
sdhvfkjjkf
Age: 26

In [ ]:
#Encapsulation : encpaulating methods and data inside a class
# Abstraction :

# inheritence:
# polymorphism:

In [ ]:
class Car:
  def __init__ (self, model,mode,fuel):
    self.model = Model
  def start():
    print("car is started")
  def drive(self):
    print("can be self or manual ")

In [ ]:
class Tata_cars(Car):
  def __init__(self,):

    def drive(self):
      print("It is self drive")

class Nexon(Tata_cars):

class Nexon_base(Nexon)

In [ ]:
1. Encapsulation
Encapsulation is the concept of bundling the data (attributes/variables/properties) and the methods (functions) that operate on the data into a single unit called a class.
It also involves restricting access to certain components of the object, making some data private and hidden from the outside world.


capsule = data + methods

private variable =  any variable starting with __ is private
public : normal declaration

In [ ]:
2. Abstraction
Abstraction is the concept of hiding the complex implementation details and showing only the essential features of the object.
In Python, this is typically achieved through abstract classes and methods.

In [ ]:
3. Inheritance
Inheritance is a mechanism that allows one class (child class) to inherit the properties and behaviors (attributes and methods) from another class (parent class).
This allows for code reuse and a hierarchical class structure.

Parent (Base) Class: The class being inherited from.
Child (Derived) Class: The class that inherits from the parent class.



child class has access to all the methods and attributes which are associated with parent class but viceversa is not true.

In [ ]:
class Animal:
    def speak(self):
        return "Animal sound"

animal = Animal()

class Dog(Animal):                        # Dog :   parent class Animal
    def bark(self):
        return "Woof!"

dog = Dog()

class Tommy(Dog):         # Tommy : parent class is Dog
  def intro(self):
    return "My name is Tommy"

tommy = Tommy()